<div class="row">
  {{#if products}}
    {{#each products}}
    <div class="col-lg-3 col-sm-6 text-center">
      <a href='/product_details/{{this.slug}}'>
        <img src={{this.img}} width="150px" height="150px">
        <p class="features-item-info">{{this.pName}}</p>
        <p class="products-price">₱ {{this.price}}</p>
      </a>
    </div>
    {{/each}}
  {{else}}
    <h4>There are no products available.</h4>
  {{/if}}
</div>