<section id="features">
  <div class="container">
    <br><br>
    <h4>{{title}}</h4>
    <br>
    <div class="row">
      <div class="display-cart col-8">
      {{#if products}}
        {{#each products}}
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <img src="{{this.img}}" height="150px">
                  </div>
                  <div class="col-8">
                    <h5 class="card-title">{{this.pName}}</h5>
                    <p class="card-text">Quantity: {{this.qty}}</p>
                    <p class="card-text">₱ {{this.subPrice}}</p>
                    <div class="text-right">
                      <a href="/delete_from_cart/{{this.id}}">
                        <i class="material-icons">delete</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
        {{/each}}
        </div>
        <div class="sidebar-cart col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Purchase Summary</h5>
              <hr>
              {{#each products}}
              <div class="row">
                <div class="col">
                  <p class="card-text">{{this.pName}}</p>
                </div>
                <div class="col">
                  <p class="card-text text-right">₱ {{this.subPrice}}</p>
                </div>
              </div>
              {{/each}}
            </div>
            <div class="text-center">
              <a href="/billing" class="btn w-50 btn-c-yellow">Checkout</a>
              <br><br>
            </div>
          </div>
        </div>
      {{else}}
        <p>No items in the cart!</p>
      {{/if}}
    </div>
  </div>
</section>