<div class="container-fluid">
  <h4 class="mt-4">Dashboard | View All Orders</h4>
  {{> messages}}
  <br>
  <table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order No.</th>
        <th scope="col">Total Price</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Status</th>
        <th scope="col">Edit Status</th>
        <th scope="col">View Details</th>
      </tr>
    </thead>
    <tbody>
      {{#if purchases}}
        {{#each purchases}}
        <tr>
          <th scope="row">{{this._id}}</th>
          <td>₱ {{this.totalPrice}}</td>
          <td>{{this.purchaseDate}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          <td><a href="/edit_status/{{this._id}}"><i class="material-icons">create</i></a></td>
          <td><a href="/view_order/{{this._id}}"><i class="material-icons">visibility</i></a></td>
        </tr>
        {{/each}}
      {{else}}
        <h4>No purchases available</h4>
      {{/if}}
    </tbody>
  </table>
</div>