<div class="purchase-history">
  <div class="row my-4 align-items-center">
    <div class="col">
      <header class="h4">Purchase History</header>
    </div>
  </div>
  <hr>
  <div class="mt-4 mb-5">
    {{#each purchases}}
      <div class="row p-3 border border-dark {{#if @first}} rounded-top {{else}} border-top-0 {{/if}} {{#if @last}} rounded-bottom {{/if}}">
        <div class="col col-3 align-self-center">
          <img class="img-fluid" src="{{this.firstImg}}" width="150px">
        </div>
        <div class="col col-9">
          <div class="row">
            <div class="col-8 align-self-center">
              Order ID: {{this._id}}
            </div>
            <div class="col-4 align-self-center">
              <strong>Php {{this.totalPrice}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-8 align-self-center">
              Quantity: {{this.totalQty}}
            </div>
            <div class="col-4 align-self-center">
              Status: {{this.status}}
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-8">
              Order placed on: {{this.purchaseDate}}
            </div>
            <div class="col-4 align-self-center">
              <a href="/purchase_details/{{this._id}}" class="btn btn-c-pink">View Details</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>